/* ===== ABOUT PAGE STYLES ===== */
.about {
  max-width: 90%;
  margin: 2rem auto;
  padding: 0 1rem;
  font-family: sans-serif;
  color: #333;
  line-height: 1.6;
}

.about section {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #fdfdfd;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.about a:hover {
    text-decoration: underline;
}
